.seats{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 3vw;
}

.seat{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 2%;
    height: 5vw;
    width: 5vw;
    font-size: 3vw;
    background-color: rgba(195, 207, 217, 1);
    border: 1px solid rgba(128, 143, 157, 1);
    border-radius: 50%;
}

.seat:active{
    transform: translateY(-3px);
}

.available:hover{
    background-color: rgba(195, 207, 217, 0.8);
    cursor: pointer;
}

.unavailable{
    background-color: rgba(251, 225, 146, 1);
    border-color: rgba(247, 197, 43, 1);
}

.unavailable:hover{
    background-color: rgba(251, 225, 146, 0.8);
    cursor: pointer;
}

.true{
    background-color: rgba(141, 215, 207, 1);
    border-color: rgba(69, 189, 176, 1);
}

.true:hover{
    cursor: pointer;
    background-color: rgba(141, 215, 207, 0.8);
}