@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.root{
    font-family: 'Roboto', sans-serif;
}

.inner-screen-header{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(41, 56, 69, 1);
    font-size: 2.5vh;
}